@import "materialize/sass/materialize.scss"

$hoverColor: #eee

div
  display: block

.text-align-center
  text-align: center

.center-div
  display: inline-block
  position: relative
  left: 50%
  transform: translate(-50%)

ul li
  font-size: 1.7em

.resetBtn
  position: absolute
  bottom: 5px
  left: 5px
  display: inline
  transition: all 0.5s
  -webkit-transition: all 0.5s
  -ms-transition: all 0.5s
  -moz-transition: all 0.5s

.resetBtn:hover
  background-color: $hoverColor

.answer-description
  font-size: 1.7em

.removePlayer
  height: 100vh !important
  position: absolute
  background: white
  top: 0
  width: 100%
  left: 0
  z-index: 10

.bottom-left
  position: fixed
  bottom: 5px
  right: 5px
  display: inline
  -webkit-transition: all 0.5s
  -ms-transition: all 0.5s
  -moz-transition: all 0.5s
  background-color: #FFF
  border-radius: 5px

.bottom-left:hover
  background: $hoverColor

.container
  margin-bottom: 10px

a:hover
  cursor: pointer

img
  max-width: 80vw
